src/test/resources/spec-conversion/B_69550284_wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.alarm.com/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.alarm.com/WebServices">
<!-- This is a trimmed-down version of the wsdl attached to b/69550284. I removed all the commented-out stuff and
     all of the unused schema, and streamlined the remaining types a bit, while still exercising the same set of things. -->
	<wsdl:types>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.alarm.com/WebServices">
		<s:element name="CreateCustomer">
		  <s:complexType>
			<s:sequence>
			  <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:CreateCustomerInput"/>
			</s:sequence>
		  </s:complexType>
		</s:element>
		<s:complexType name="CreateCustomerInput">
		  <s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="DesiredLoginName" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="InstallationAddress" type="tns:Address"/>
			<s:element minOccurs="1" maxOccurs="1" name="ModemSerialNumber" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="panelSettingTemplateId" nillable="true" type="s:int"/>
		  </s:sequence>
		</s:complexType>
		<s:complexType name="Address">
		  <s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Street1" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="Zip" type="s:string"/>
		  </s:sequence>
		</s:complexType>
		<s:element name="GetDeviceList">
		  <s:complexType>
			<s:sequence>
			  <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int"/>
			</s:sequence>
		  </s:complexType>
		</s:element>
		<s:element name="GetDeviceListResponse">
		  <s:complexType>
			<s:sequence>
			  <s:element minOccurs="0" maxOccurs="1" name="GetDeviceListResult" type="tns:ArrayOfPanelDevice"/>
			</s:sequence>
		  </s:complexType>
		</s:element>
		<s:complexType name="ArrayOfPanelDevice">
		  <s:sequence>
			<s:element minOccurs="1" maxOccurs="unbounded" name="PanelDevice" nillable="true" type="tns:PanelDevice"/>
		  </s:sequence>
		</s:complexType>
		<s:complexType name="PanelDevice">
		  <s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="DeviceId" type="s:int"/>
			<s:element minOccurs="0" maxOccurs="1" name="WebSiteDeviceName" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="InstallDate" type="s:dateTime"/>
			<s:element minOccurs="1" maxOccurs="1" name="StatusDate" nillable="true" type="s:dateTime"/>
			<s:element minOccurs="1" maxOccurs="1" name="MonitoredForNormalActivity" type="s:boolean"/>
			<s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ArrayOfDeviceStatusEnum"/>
			<s:element minOccurs="1" maxOccurs="1" name="DeviceType" type="tns:DeviceTypeEnum"/>
			<s:element minOccurs="1" maxOccurs="1" name="ManufacturerSpecificInfo" nillable="true" type="s:int"/>
			<s:element minOccurs="1" maxOccurs="1" name="IsSecondaryLoop" type="s:boolean"/>
			<s:element minOccurs="0" maxOccurs="1" name="ZwaveManufacturer" type="s:string"/>
		  </s:sequence>
		</s:complexType>
		<s:complexType name="ArrayOfDeviceStatusEnum">
		  <s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="DeviceStatusEnum" type="tns:DeviceStatusEnum"/>
		  </s:sequence>
		</s:complexType>
		<s:simpleType name="DeviceStatusEnum">
		  <s:restriction base="s:string">
			<s:enumeration value="Unknown"/>
			<s:enumeration value="Removed"/>
			<s:enumeration value="Closed"/>
			<s:enumeration value="Open"/>
		  </s:restriction>
		</s:simpleType>
		<s:simpleType name="DeviceTypeEnum">
		  <s:restriction base="s:string">
			<s:enumeration value="DefaultSettings"/>
			<s:enumeration value="Unknown"/>
			<s:enumeration value="Contact"/>
		  </s:restriction>
		</s:simpleType>
		<s:element name="CreateCustomerResponse">
		  <s:complexType>
			<s:sequence>
			  <s:element minOccurs="0" maxOccurs="1" name="CreateCustomerResult" type="tns:CreateCustomerOutput"/>
			</s:sequence>
		  </s:complexType>
		</s:element>
		<s:complexType name="CreateCustomerOutput">
		  <s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
			<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
			<s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int"/>
		  </s:sequence>
		</s:complexType>
		<s:element name="Authentication" type="tns:Authentication"/>
		<s:complexType name="Authentication">
		  <s:sequence>
			<s:element minOccurs="0" maxOccurs="1" name="User" type="s:string"/>
			<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
			<s:element minOccurs="0" maxOccurs="1" name="TwoFactorDeviceId" type="s:string"/>
		  </s:sequence>
		  <s:anyAttribute/>
		</s:complexType>
	  </s:schema>
	</wsdl:types>
    <wsdl:message name="CreateCustomerSoapIn">
		<wsdl:part name="parameters" element="tns:CreateCustomer"/>
	</wsdl:message>
	<wsdl:message name="CreateCustomerSoapOut">
		<wsdl:part name="parameters" element="tns:CreateCustomerResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDeviceListSoapIn">
		<wsdl:part name="parameters" element="tns:GetDeviceList"/>
	</wsdl:message>
	<wsdl:message name="GetDeviceListSoapOut">
		<wsdl:part name="parameters" element="tns:GetDeviceListResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateCustomerAuthentication">
		<wsdl:part name="Authentication" element="tns:Authentication"/>
	</wsdl:message>
	<wsdl:message name="GetDeviceListAuthentication">
		<wsdl:part name="Authentication" element="tns:Authentication"/>
	</wsdl:message>
	<wsdl:portType name="CustomerManagementSoap">
		<wsdl:operation name="CreateCustomer">
			<wsdl:input message="tns:CreateCustomerSoapIn"/>
			<wsdl:output message="tns:CreateCustomerSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDeviceList">
			<wsdl:input message="tns:GetDeviceListSoapIn"/>
			<wsdl:output message="tns:GetDeviceListSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerManagementSoap" type="tns:CustomerManagementSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateCustomer">
			<soap:operation soapAction="http://www.alarm.com/WebServices/CreateCustomer" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:CreateCustomerAuthentication" part="Authentication" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDeviceList">
			<soap:operation soapAction="http://www.alarm.com/WebServices/GetDeviceList" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:GetDeviceListAuthentication" part="Authentication" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerManagement">
		<wsdl:port name="CustomerManagementSoap" binding="tns:CustomerManagementSoap">
			<soap:address location="https://alarmadmin.alarm.com/WebServices/CustomerManagement.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
