src/test/resources/empty_target_namespace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    xmlns=""
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    targetNamespace=""
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="unqualified">
      <s:element name="ApplicationUpdateRequest">
            <s:complexType>
          <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SessionID" type="s:string" />
                  <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationUpdateResponse">
        <s:complexType>
          <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationID" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="ErrorArray" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" type="ErrorElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsAppUpdateSoapIn">
    <wsdl:part name="parameters" element="ApplicationUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="wsAppUpdateSoapOut">
    <wsdl:part name="parameters" element="ApplicationUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="AppUpdate">
    <wsdl:operation name="AppUpdate">
      <wsdl:input message="wsAppUpdateSoapIn" />
      <wsdl:output message="wsAppUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppUpdate" type="AppUpdate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AppUpdate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppUpdate">
    <wsdl:port name="AppUpdate" binding="AppUpdate">
      <soap:address location="https://www.test.co.uk/appupdate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
